@font-face {
	font-family: "Addis Adaba";
	src: url(AddisAbaba.ttf) format("truetype");
}

header{
	margin-bottom: 50px;
}

.header-atividade{
	padding-top: 35px;
}

.materias-container{
	margin-top: 100px;
}

.copyright{
	text-color: #a6a6a6;
	text-align: right;
	font-size: 10pt;
	font-family: calibri;
}

.disciplina-title{
	text-align: center;
}

.login-logout{
	margin-top: 20px;
}

.content-home{
	min-height: 300px;
}

.materias-container, .materias-container{
	padding-left: 5%;
	height: auto;
	margin: 20px auto;
}

.page-title, .page-title::before, .atividade-desc{
	font-size: 30pt;
}

a{
	text-decoration: none !important;
}

.atividade-desc{
	vertical-align: middle;
}

@media (max-width: 568px){
	.page-title, .copyright{
		font-size: 8pt !important;
	}
	.home-image{
		width: 100% !important;
	}
}

#main, .page-title, .logout{
	margin-bottom: 5%;
}

.img-btn{
	padding-top: 15px;
	width: 70%;
}

.img-atividade{
	width: 35%;
	cursor: pointer;
}

img{
	width: 80%;
}

.header-img-logo, .header-img-children{
	width: 70% !important;
}

.footer{
	margin-top: 30px;
}

.home-img-container, .login-container{
	position: relative;
	padding: 20px 40px 40px;
	text-align: center;
}

.home-img-container, .materias-img-container{
	margin-top: -40px;
}

.home-image{
	width: 42%;
	margin-top: -50px;
}

.error-login, .login-container{
	width: 400px;
	margin: 20px auto;
}

.error-login{
	font-size: 25px;
	min-width: 400px;
}

.login-container{
	margin-top: -20px;
	width: 360px!important;
	height: 270px !important;
	background: #fff;
	border: 1px solid #ccc;
}

.login-title, .cadastro-title{
	width: 100px;
	margin: 10px auto 30px;
	background-size: cover;
}

#output{
	position: absolute;
	width: 300px;
	top: -75px;
	left: 0;
	color: #fff;
}

#output.alert-success{
	background: rgb(25, 204, 25);
}

#output.alert-danger{
	background: rgb(228, 105, 105);
}

.login-container::before,.login-container::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 3.5px;left: 0;
	background: #fff;
	z-index: -1;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	border: 1px solid #ccc;

}

.login-container::after{
	top: 5px;
	z-index: -2;
	-webkit-transform: rotateZ(-2deg);
	-moz-transform: rotateZ(-2deg);
	-ms-transform: rotateZ(-2deg);

}

.form-box, .login-title, body, span, .cadastro-title, .alert-font{
	font-family: "Addis Adaba", "Comic Sans MS";
	font-size: larger;
}

.login-title, .cadastro-title{
	font-size: xx-large;
}

.btn-login{
	font-size: 20px;
	margin-right: 15px;
	margin-left: 25px;
}

.btn-atividade{
	min-width: 200px;
	min-height: 80px;
	font-size: 30px;
}

.form-group {
	margin-bottom: 30px;
}

.form-box input{
	width: 100%;
	padding: 10px;
	text-align: center;
	height: auto;
	border: 1px solid #ccc;;
	background: #fafafa;
	transition:0.2s ease-in-out;
	font-size: 25px;

}

.form-box input:focus{
	outline: 0;
	background: #eee;
}

.form-box input[type="text"]{
	border-radius: 5px 5px 0 0;
}

.form-box input[type="password"]{
	border-radius: 0 0 5px 5px;
	border-top: 0;
}

.form-box button.login, a.cadastro{
	margin-top:15px;
	padding: 10px 20px;
	min-width: 25px;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.erro{
	color: red;
}

.erro-tbl{
	color: red;
	border-color: black !important;
}

.acerto{
	color: green;
}

.acerto-tbl{
	color: green;
	border-color: black !important;
}

span{
	font-size: 30pt;
}

.numeros{
	padding-left: 30px;
	padding-right: 40px;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	width: 100px !important;
}

.tb-bordered{
	border-bottom: solid;
	border-top: solid;
	border-width: medium;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.r-bordered{
	border-right: solid;
	border-width: medium;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.bordered{
	border: solid;
	border-width: medium;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.tbl-numeros{
	margin-bottom: 45px;
}

.body, div, button, span, small, h1, h2, h3,
h4, h5, h6, a, input, .sweet-alert, .showSweetAlert{
	text-transform: uppercase !important;
	font-family: "Addis Adaba", "Comic Sans MS";
}

.page-footer{
	padding-top: 0px;
}

.login-subtitle{
	font-size: 20px;
	background-color: #FFFFFF;
	padding-top: 15px;
}

.form-login{
	margin-top: 35px;
}

.user-name-header{
	font-size: 14pt;
	margin-right: 20px;
}

.icon-atv-error{
	color: red;
	font-size: 60px;
}

.icon-atv-wait{
	color: orange;
	font-size: 60px;
}

.icon-atv-check{
	color: green;
	font-size: 60px;
}

.no-border{
	border: none;
}

.desemp-background{
	position: absolute;
	width: 100%;
	background-repeat: no-repeat;
	z-index: -1;
	margin-top: 300px;
}

.desemp-message{
	z-index: 1;
	padding-top: 230px;
}

.desemp-message-text{
	font-size: 40pt;
}

.img-qtd-pic{
	cursor: pointer;
	width: 100%;
	padding-bottom: 105px;
}

.img-soma{
	width: 100%;
	padding-bottom: 105px;
}

.resp-soma{
	border: 0;
	padding: 0;
	border: solid;
	line-height: 50px;
	margin-top: 14px;
	font-size: 30px;
	text-align: center;
	width: 90px !important;
}

.input-soma{
	border: 0;
	padding: 0;
	border: solid;
	line-height: 50px;
	margin-top: -95px;
	font-size: 30px;
	text-align: center;
	width: 90px !important;
}

.div-soma{
	padding-bottom: 60px;
	margin-top: -50px;
}

.inner-sum{
	padding-left: 108px;
}

.check-img{
	margin-left: -100px;
	padding-top: 15px;
}

.span-sum{
	margin-left: 120px;
	margin-right: 120px;
}

.img-qtd-num{
	cursor: pointer;
	width: 25%;
	margin-left: 60%;
	padding-top: 10px;
}

.img-qtd-border{
	border-color: yellow;
	border-style: solid;
	border-width: thick;
	border-radius: 30px;
}

.no-click{
	opacity: 0.3;
	cursor: auto;
}

.lobo-pic {
	width: 30%;
}

.cavalos-pic {
	width: 70%;
}

.focas-pic {
	width: 55%;
}

.elefantes-pic {
	width: 80%;
}

.chk-qty, .load-qty{
	float: right;
	margin-top: 35px;
}

.check-qty-left{
	margin-top: 38px;
	margin-left: -85px !important;
}

.table-complete{
	margin-top: -135px !important;
	width: auto !important;
	margin-left: 200px;
}

.line-task{
	margin-bottom: 100px !important;
}

.line-margin-left{
	margin-left: -105px;
}

.line-margin-right{
	margin-left: 50px;
}

.task_input{
	margin-bottom: -5px;
	margin-right: -5px;
	width: 50px !important;
	height: 50px !important;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	border: solid;
	border-radius: 3px !important;
}

.img-atividade-tbl{
	width: 170px !important;
	height: 170px !important;
	cursor: auto;
}

.check-img-tbl-left{
	margin-left: -85px;
	padding-top: 38px;
}

.check-img-tbl-right{
	float: right;
	margin-right: -162px;
	margin-top: -90px;
}

.icon-atv-check-tbl{
	font-size: 90px;
}

.img-sing-plur{
	width: 20%;
	cursor: auto;
}

.input-sing-plur{
	width: 300px !important;
}

.col-tubarao, .col-violao, .col-dragao, .col-aviao, .col-mamao{
	text-align: center;
}

/*.col-dragao, .col-aviao, .col-mamao{
	text-align: left;
}*/

.col-tubarao, .col-aviao, .col-mamao, .col-violao, .col-dragao{
	margin-bottom: 150px;
}

.input-sing-plur {
	width: 300px !important;
	margin-top: 45px !important;
}

.input-plur {
	width: 32px !important;
	height: 30px !important;
	border: none;
	text-align: center;
}
.input-subs {
	width: 100% !important;
	height: 30px !important;
	border: none;
	text-align: center;
}

.genero-bg-img{
	width: 100%;
}

.genero-bg{
	z-index: -3000;
	position: absolute;
}

.genero-bg-front{
	z-index: 3000;
	position: relative;
}

.left-numbers, .right-numbers{
	font-size: 15pt;
}

.left-numbers{
	padding-right: 85px;
	text-align: right;
}

.right-numbers{
	padding-left: 30px;
}

.spn-genero{
	font-size: 16pt;
}

.icon-gen-check, .icon-gen-error{
	font-size: 23px;
}

.icon-gen-check{
	color: green;
}

.icon-gen-error{
	color: red;
}

.words-substantivo{
	font-size: 30px;
	text-align: center;
}

.tbl-substantivos{
	min-width: 300px !important;
	border: solid;
	width: 100%;
	text-align: center;
	margin-top: 90px !important;
}

.tbl-substantivos th, .tbl-substantivos td{
	border: solid;
	text-align: center;
}

.substantivo-bg{
	margin-right: 0px;
	float: right;
	margin-left: 928px;
	margin-top: 139px;
}

.container-subst{
	margin-left: -34px !important;
}