<?php
/**
* Created by PhpStorm.
* User: Gabriela Katz
* Date: 26/02/2016
*/
?>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery.noConflict();
		autocomplete_prodserv();
		format_fields();
	});
</script>
<div class="serpro">
	<div class="row serpro1">
		<div class="part prodserv">
				<table class="table borderless">
					<tr>
						<td>
							<span class="item id col-xs-12 col-xs-40">
								<label>ID</label>
								<input type="text" name="idps[]" placeholder="ID" disabled="disabled" />
							</span>
							<span class="item natureza col-xs-12 col-xs-50">
								<label>Natureza</label>
								<input type="text" name="naturezaps[]" placeholder="Natureza"/>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="item setord col-xs-12">
								<label>Setor Debitado</label>
								<input type="text" name="setord[]" placeholder="Setor Debitado"/>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="item inicio col-xs-12 col-xs-40">
								<label>Início - Data</label>
								<input type="date" name="inicioData[]" placeholder="dd/mm/aaaa"/>
							</span>
							<span class="item inicio hora col-xs-12 col-xs-50">
								<label>Início - Hora</label>
								<input type="time" name="inicioHora[]" placeholder="hh:mm"/>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="item codigo col-xs-12">
								<label>Código</label>
								<input type="text" name="codigops[]" placeholder="Código"/>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="item fps col-xs-12 col-xs-40">
								<label>F PS</label>
								<input type="text" name="fps[]" placeholder="F PS"/>
							</span>
							<span class="item itens col-xs-12 col-xs-50">
								<label>Item</label>
								<input type="text" name="itens[]" placeholder="Item"/>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="item setorc col-xs-12">
								<label>Setor Creditado</label>
								<input type="text" name="setorc[]" placeholder="Setor Creditado"/>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="item fim data col-xs-12 col-xs-40">
								<label>Fim - Data</label>
								<input  type="date" name="fimData[]" placeholder="dd/mm/aaaa"/>
							</span>
							<span class="item fim hora col-xs-12 col-xs-50">
								<label>Fim - Hora</label>
								<input  type="time" name="fimHora[]" placeholder="dd/mm/aaaa"/>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="item quantidade col-xs-12 col-xs-40">
								<label>Quantidade</label>
								<input type="text" name="quantidade[]" id="quantidade" placeholder="Quantidade"/>
							</span>
							<span class="item servh col-xs-12 col-xs-50">
								<label>Serv/h</label>
								<input type="text" name="servh[]" placeholder="Serv/h"/>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="item valor col-xs-12 col-xs-40">
								<label>Preço</label>
								<input type="text" class="money"  data-symbol="R$ " data-thousands="." data-decimal="," name="precops[]" id="precops" placeholder="Preço" />
							</span>
							<span class="item preco col-xs-12 col-xs-50">
								<label>Valor</label>
								<input type="text" class="money"  data-symbol="R$ " data-thousands="." data-decimal="," name="pvalor[]" id="pvalor" placeholder="Valor" />
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<a id="btCopiar" class="btn add" onclick='append_item(this)' href="#">Adicionar</a>
							<a class="btn remove_field" onclick='remove_item(this)' id='remove_prodserv' href="#">Remover</a>
						</td>
					</tr>
				</table>
		</div>
	</div>
</div>